@charset "UTF-8";
.wp-block-cns-theme-cns-hero,
.wp-block-cns-theme-cns-hero-overlay {
  box-sizing: border-box;
  padding: 1rem;
  max-width: 100%;
}
.wp-block-cns-theme-cns-hero {
  border: 2px dashed greenyellow;
  width: 100%;
}
.wp-block-cns-theme-cns-hero-overlay {
  outline: 2px dashed hsla(350, 100%, 88%, 0.8);
}
