@charset "UTF-8";
@use "./variables" as var;
@use "./mixins" as mix;

// flex
header,
header nav,
header ul {
  @include mix.fx($align: center);
}

// Components
header {
  justify-content: space-between;
  gap: 2.4rem;

  height: fit-content;
  width: 100%;
  padding: 1rem 2rem;

  background-color: var(--wp--preset--color--header-bg);
  color: var(--wp--preset--color--header-text);
  nav,
  ul {
    justify-content: center;
    gap: 1rem;
  }
  li a {
    font-size: clamp(1.6rem, 2vw, 2rem);
    color: currentColor;
    padding: 0 1em;
  }
}
