@charset "UTF-8";
.infobox {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 300px;
  padding: 2em;
  position: relative;
  &__content {
    position: relative;
    z-index: 2;
  }
  &__image {
    width: 100%;
    height: 200px;
  }
}
