.entry-content {
  height: 100%;
}

#cns-layout-wrapper {
  padding: 0;
  height: calc(100vh - 5rem);
  max-width: 192rem;
  margin: auto;

  background-color: var(--wp--preset--color--background);
  overflow: scroll;
}

footer {
  width: 100%;
  padding: 4rem 2% 6rem;

  background-color: var(--wp--preset--color--header-text);
  color: var(--wp--preset--color--text-negative);
  .cns-col {
    &__wrapper {
      gap: 1rem;
    }
  }
  .wp-block-navigation {
    &__responsive-container-content {
      gap: 2rem;
    }
  }
}

.cns-col {
  margin: 0;
  padding: 0 1rem;
  &__wrapper {
    padding: 0;
    gap: 4rem 1rem;
    align-self: stretch;
    margin: 0;
    overflow-y: scroll;
  }
  &__side {
    max-width: var(--wp--custom--layout--col-side);
    order: 1;
  }
  &__wiki {
    max-width: var(--wp--custom--layout--col-wiki);
    order: 2;
  }
  &__center {
    order: 3;
    padding: 2rem 0 0 0;
    h1 {
      margin-bottom: 2rem;
    }
  }
  &__narrow {
    max-width: 24rem;
  }
}

// User breakpoint mixin instead?
@media screen and (min-width: 768px) {
  .entry-content {
  }
  .cns-col {
    order: unset;
    &__wrapper {
      height: 100%;
    }
    &__wiki {
    }
  }
}
