.entry-content {
  height: 100%;
}

#cns-layout-wrapper {
  padding: 0;
  height: calc(100vh - 5rem - 5rem);
  max-width: 192rem;
  margin: auto;

  background-color: var(--wp--preset--color--background);
  overflow: scroll;
}

.cns-col {
  margin: 0;
  padding: 0 1rem;
  &__wrapper {
    padding: 0;
    gap: 4rem 1rem;
    align-self: stretch;
    margin: 0;
    overflow-y: scroll;
  }
  &__side {
    max-width: 20rem;
    order: 1;
  }
  &__wiki {
    max-width: 34rem;
    order: 2;
  }
  &__center {
    order: 3;
    padding: 2rem 0 0 0;
    h1 {
      margin-bottom: 2rem;
    }
  }
}

// User breakpoint mixin instead?
@media screen and (min-width: 768px) {
  .entry-content {
  }
  .cns-col {
    order: unset;
    &__wrapper {
      height: 100%;
    }
    &__wiki {
    }
  }
}
