@charset "UTF-8";
@use "variables" as var;

#breadcrumbs {
  display: flex;
  gap: 1rem;
  span,
  a {
    padding: 0.5rem 1rem;

    border: 1px solid var.$main-black;
    color: var.$main-black;
    line-height: 100%;
  }
}

#search-overlay {
  position: fixed;
  width: fit-content;
  height: fit-content;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .content {
    position: relative;
    z-index: 10;
    background-color: var.$main-white;
    width: var.$breakpoint-sm;
    max-width: 92vw;
    height: var.$breakpoint-md;
    max-height: 92vh;
    overflow-y: scroll;

    border: 1px solid var.$main-black;
    border-radius: 2rem;
  }
}

.search-overlay__content {
  width: fit-content;
}
.search-overlay__top {
  background-color: var.$light-grey;
  text-align: center;
  padding: 0.4em 1em;
}
.search-overlay__main {
  input {
    width: 100%;
    height: 5rem;
    padding: 1rem;
  }
}

.close__button {
  position: absolute;
  top: 2vw;
  right: 2vw;
  width: 4rem;
  height: 4rem;
  &::after,
  &::before {
    content: "";
    display: block;
    height: 4px;
    width: 100%;

    position: absolute;

    background-color: var.$main-black;
    border-radius: 2px;
    transform-origin: center;
  }
  &::after {
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);
  }
}
