@charset "UTF-8";
.page-banner {
  background-color: #000;
  padding: 80px 0 40px 0;
  position: relative;
  &__content {
    position: relative;
    z-index: 2;
  }
  &__bg-image {
    opacity: 0.33;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
