@charset "UTF-8";
@use "variables" as var;
@use "mixins" as mix;

.cns-sidebar {
  // background-color: greenyellow;
  max-height: 100%;
  //   height: 100vh;
  overflow-y: scroll;
  border-right: 1px solid var(--wp--preset--color--element-border);
  padding: 0;
  // wp:navigation block
  .wp-block-heading {
    padding: 0.2em 0.4rem;
  }
  li {
    list-style-type: none;
  }
  a {
    display: block;
    width: 100%;
    padding: 0.8em;

    background-color: aquamarine;
    font-size: 1.2em;
    text-decoration: unset;
    &:hover {
      opacity: 0.8;
    }
  }
  .wp-block-navigation {
    width: 100%;

    .wp-block-navigation__container {
      @include mix.fx($direction: column);
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .wp-block-navigation-item {
      width: 100%;
      position: relative;

      &__content {
        display: block;
        width: 100%;
        padding: 0.75em 1em;
        color: currentColor;
        text-decoration: none;
      }

      // &.current-menu-item > .wp-block-navigation-item__content {}
    }

    // submenu container
    .wp-block-navigation__submenu-container {
      list-style: none;
      margin: 0;
      padding: 0;

      .wp-block-navigation-item__content {
        padding-left: 2em;
      }
    }
  }
}
