@charset "UTF-8";
@use "../../scss/modules/variables/" as var;
.page-banner {
  padding: 80px 0 40px 0;
  position: relative;
  &__content {
    position: relative;
    z-index: 2;
  }
  &__bg-image {
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
