.wp-block-cns-theme-cns-header {
  width: 100%;
  // height: var(--wp--custom--header--height);
  height: fit-content;

  background-color: var(--wp--preset--color--header-bg);
  border-bottom: 1px solid var(--wp--preset--color--element-contrast);
  color: var(--wp--preset--color--header-text);
  filter: drop-shadow(0px 2px 4px rgb(35 40 45 / 20%));
}

.header-layout {
  width: 100%;
  // height: var(--wp--custom--header--height);
  margin: 0;
  .logo {
    max-width: var(--wp--custom--layout--col-side);
    padding: 0.5rem 2rem;
  }
  .logo {
  }
  .header-menu-element {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
