<!-- wp:cns-theme/header /-->

<!-- wp:cns-theme/genericbutton {"linkObject":{"url":"http://cns-theme.local/hello-world/","id":1,"title":"Hello world!","type":"post","kind":"post-type"},"colorName":"orange"} -->
<a
  href="http://cns-theme.local/hello-world/"
  class="wp-block-cns-theme-genericbutton btn btn--large btn--orange"
  >button</a
>
<!-- /wp:cns-theme/genericbutton -->

<!-- wp:cns-theme/banner {"defaultimg" : "banner.png"} -->
<!-- wp:cns-theme/genericheading {"text":"Ello boiiii!","align":"center"} -->
<h1
  class="wp-block-cns-theme-genericheading aligncenter headline headline--large"
>
  Ello boiiii!
</h1>
<!-- /wp:cns-theme/genericheading -->
<!-- /wp:cns-theme/banner -->

<!-- wp:cns-theme/banner {"defaultimg" : "banner.png"} -->
<!-- wp:paragraph -->
<p>lala</p>
<!-- /wp:paragraph -->
<!-- /wp:cns-theme/banner -->

<!-- wp:cns-theme/layouttwocol /-->

<!-- wp:cns-theme/infobox {"defaultimg" : "banner.png"} -->
<!-- wp:cns-theme/genericheading {"text":"Le Infobox"} -->
<h1 class="wp-block-cns-theme-genericheading headline headline--large">
  Le Infobox
</h1>
<!-- /wp:cns-theme/genericheading -->

<!-- wp:paragraph -->
<p>ello text for this infobox</p>
<!-- /wp:paragraph -->
<!-- /wp:cns-theme/infobox -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->
